@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Minecrafter';
  src: url('/Minecrafter.Alt.ttf') format('truetype');
}

@font-face {
  font-family: 'minecraft_font';
  src: url('/minecraft_font.ttf') format('truetype');
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --minecraft-font: 'Minecrafter', monospace;
  --font2: 'minecraft_font', monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--minecraft-font);
}

